<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/jQuery.js"></script>
    <script src="/js/vue.js"></script>
    <title>临哥哥爬虫小说阅读</title>
</head>

<body>
    <div id="vue">
        <div class="box">
            <div class="tit">科幻小说排行榜推荐</div>
            <div class="list clearfix">
                <ul class="">
                    <li v-for="(item,index) in bookList" :key="index" @click="getBookInner(item.bookname,item.bookurl)">
                        <span class="name">{{item.bookname}} </span>
                        <span class="author">---{{item.bookauthor}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="/js/index.js"></script>
</body>

</html>